<mat-card id='card' class='center'  (submit) = "$event.preventDefault()">
  <app-loadspinner *ngIf="visible" class='spinner'></app-loadspinner>
  <form class='container'>
    <mat-form-field>
      <input class='fullwidth' name="Username" matInput placeholder="Username" autocomplete="off" required [(ngModel)] = "username">
    </mat-form-field>

    <mat-form-field>
      <input class='fullwidth' name="Password" type="password" matInput placeholder="Password" required [(ngModel)] = "password">
    </mat-form-field>
    
  <button mat-button class='fullwidth' (click)="login(); ">Sign in</button> 
  </form>
</mat-card>